In [1]:
import requests 
from bs4 import BeautifulSoup
import pandas as pd
import re

In [2]:
def parse_strlist(sl):
    clean = re.sub("[\[\],\s]","",sl)
    splitted = re.split("[\'\"]",clean)
    values_only = [s for s in splitted if s != '']
    return values_only

In [82]:
url = 'https://bitinfocharts.com/comparison/bitcoin-tweets.html'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

scripts = soup.find_all('script')
for script in scripts:
    if script.string == None:
        pass 
    elif 'd = new Dygraph(document.getElementById("container")' in script.string:
        StrList = script.string
        StrList = '[[' + StrList.split('[[')[-1]
        StrList = StrList.split(']]')[0] +']]'
        StrList = StrList.replace("new Date(", '').replace(')','')
        dataList = parse_strlist(StrList)

In [80]:
date = []
tweet = []
for each in dataList:
    if (dataList.index(each) % 2) == 0:
        date.append(each)
    else:
        tweet.append(each)

df = pd.DataFrame(list(zip(date, tweet)), columns=["Date","Decred - Tweets"])

In [81]:
print(df)

            Date Decred - Tweets
0     2014/04/09            8193
1     2014/04/10           15039
2     2014/04/11           14907
3     2014/04/12            7582
4     2014/04/13           10674
...          ...             ...
2685  2021/08/15           77118
2686  2021/08/16           99378
2687  2021/08/17           98097
2688  2021/08/18           96506
2689  2021/08/19           91115

[2690 rows x 2 columns]